version: "3.9"

services:
  health-check:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: health-check
    ports:
      - "8005:8080"

    security_opt:
      - "seccomp=/usr/share/containers/seccomp.json"
      - "no-new-privileges"

    cap_drop:
      - ALL

    tmpfs:
      - "/tmp:mode=1777"

    pids_limit: 1024

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/check || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

    restart: "on-failure:3"
